<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435145377210-90rkc9e0uh97hkc5fk6ar0u96kbddqnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435145377210-90rkc9e0uh97hkc5fk6ar0u96kbddqnu</string>
	<key>API_KEY</key>
	<string>AIzaSyAIipGULVA8t2x0lkxbSn7IhFhsjKfvvsM</string>
	<key>GCM_SENDER_ID</key>
	<string>435145377210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samarth.flutterFeedly</string>
	<key>PROJECT_ID</key>
	<string>feedlyflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>feedlyflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435145377210:ios:53d874457aa14b47</string>
	<key>DATABASE_URL</key>
	<string>https://feedlyflutter.firebaseio.com</string>
</dict>
</plist>